<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.SICAP_2014ConnectionString"
            connectionString="Data Source=JORDI-PC;Initial Catalog=SICAP-2014;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>